<div class="modal-body" style="width: 450px; background-color: #f7f7f7; border-radius: 10px;" [@slideInOut]>
  <h2 mat-dialog-title style="margin-bottom: 20px;">Eventos del Usuario</h2>
  <div mat-dialog-content>
    <div *ngFor="let item of eventosUsuario" style="margin-bottom: 20px;">
      <div style="background-color: #fff; padding: 15px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h3>{{ item.evento.titulo }}</h3>
        <p>{{ item.evento.descripcion }}</p>
        <p>Fecha y Hora: {{ item.evento.fechaHora }}</p>
        <p>Ubicación: {{ item.evento.ubicacion }}</p>
        <img [src]="item.evento.url || 'https://via.placeholder.com/300'" alt="Imagen del evento" style="width: 300px; height: 200px; border-radius: 5px; margin-left: 25px;">
        
        <button mat-raised-button color="warn" style="margin-top: 20px ; margin-right: 8px;" (click)="cancelarParticipacion(item.evento)">Cancelar Evento</button>
        <button mat-raised-button color="accent" style="margin-top: 20px ;" (click)="abrirGoogleMaps(item.evento.ubicacion)">Abrir en Google Maps</button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
