<!-- footer.component.html -->
<footer class="footer text-light" style="background-color: #1b408c;">
    <div class="container" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-6" style="margin-top: 20px;">
          <h3>Contacto</h3>
          <p>Dirección: Av. Belisario Suarez 1075, San Juan de Miraflores 15801</p>
          <p>Central Telefonica: 017155421</p>
          <p>Horario de atención: Lunes a Viernes de 8: 00 am a 5: 00 pm</p>
        </div>
        <div class="col-md-3" style="margin-top: 20px;">
          <h3>Enlaces</h3>
          <ul>
            <li><a class="enlace-footer" href="https://www.gob.pe/institucion/munisjm/sedes" target="_blank">Sedes</a></li>
            <li><a class="enlace-footer" href="#" target="_blank">Eventos</a></li>
            <li><a class="enlace-footer" href="#" target="_blank">Propuestas</a></li>
            <li><a class="enlace-footer" href="#" target="_blank">Proyectos</a></li>
            <li><a class="enlace-footer" href="#" target="_blank">Quejas</a></li>
          </ul>
        </div>
        <div class="col-md-3" style="margin-top: 20px;">
          <h3>Redes Sociales</h3>
          <ul>
            <li><a class="enlace-footer" href="https://www.facebook.com/MuniDeSJM/?locale=es_LA" target="_blank">Facebook</a></li>
            <li><a class="enlace-footer" href="https://twitter.com/sjm_muni?lang=es" target="_blank">Twitter</a></li>
            <li><a class="enlace-footer" href="https://www.youtube.com/@municipalidaddesanjuandemi5801/videos" target="_blank">Youtube</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-light">
      <p class="text-center">&copy; 2024 San Juan de Miraflores. Todos los derechos reservados.</p>
    </div>
  </footer>
  