<br><br><br>

<div class="container mt-5">
    <div *ngIf="isAdmin()" class="bg-light p-3 rounded d-flex align-items-center justify-content-between">
        <div style="margin-right: 10px;">
          <img src="../../../assets/img/agregarpropuesta.png" alt="Imagen" class="img-fluid" style="max-width: 300px; margin-left: 60px;">
        </div>
        <div class="ml-4">
          <h1><strong>¿Quieres agregar una propuesta?</strong></h1>
          <p style="margin-right: 100px;">Comparte tus ideas y haz propuestas para mejorar nuestra comunidad. Desde iniciativas sociales hasta mejoras en infraestructuras locales, ¡tu propuesta puede marcar la diferencia! Tu opinión cuenta. Únete a nosotros para construir un futuro mejor juntos.</p>
          <button mat-raised-button color="accent" (click)="registrarPropuesta()">Agregar propuesta</button>
        </div>
      </div>

    <mat-toolbar color="primary">
        <span>Propuestas de la comunidad</span>
      </mat-toolbar>
    <br>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let propuesta of propuestas">
            <mat-expansion-panel-header>
                <button mat-icon-button (click)="votarPositivo(propuesta.id)">
                    ↑
                </button>
                <button mat-icon-button (click)="cancelarVotoPositivo(propuesta.id)">
                    ↓
                </button>
            
            <span style="margin-right: 20px; margin-top: 10px;">{{ esObjeto(propuesta.votos) ? propuesta.votos.cantidadVotosPositivos : propuesta.votos || 0 }}</span>
            
            <span style="margin-top: 10px;">{{ propuesta.titulo }}</span>
            <button *ngIf="isAdmin()" (click)="eliminarPropuesta(propuesta.id)" mat-raised-button color="primary" style="margin-left: 15px; background-color: #de271b; color: white;" >Eliminar propuesta</button>
            <button *ngIf="isAdmin()" (click)="editarPropuesta(propuesta.id)" mat-raised-button color="primary" style="margin-left: 5px;" >Editar propuesta</button>
            </mat-expansion-panel-header>
        
            <div>
              <p><strong>Descripción:</strong>{{ propuesta.descripcion }}</p>
              <p><strong>Ubicación:</strong> {{propuesta.ubicacion}}</p>
              <div style="display: flex; justify-content: center;">
                <img mat-card-image [src]="dataToImage(propuesta.img) || 'https://via.placeholder.com/300'" alt="Imagen de la propuesta" style="width: 500px;">
              </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="!propuestas|| propuestas.length === 0" class="mt-4">
        <p class="alert alert-info">No se muestran las propuestas en este momento.</p>
      </div>
</div>

