<br><br><br>
usar modal para el registro
<p>Usuario en sesión: {{ loggedInUserId }}</p>
<div class="container">
    <mat-toolbar color="primary">
        <span>Propuestas de la comunidad</span>
      </mat-toolbar>
    <br>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let propuesta of propuestas">
            <mat-expansion-panel-header>
                <button mat-icon-button (click)="votarPositivo(propuesta.id)">
                    ↑
                </button>
                <button mat-icon-button (click)="cancelarVotoPositivo(propuesta.id)">
                    ↓
                </button>
            
            <span style="margin-right: 20px; margin-top: 10px;">{{ esObjeto(propuesta.votos) ? propuesta.votos.cantidadVotosPositivos : propuesta.votos || 0 }}</span>
            
            <span style="margin-top: 10px;">{{ propuesta.titulo }}</span>
            
            </mat-expansion-panel-header>
        
            <div>
            <p>{{ propuesta.descripcion }}</p>
            <div style="display: flex; justify-content: center;">
                <img mat-card-image [src]="propuesta.url || 'https://via.placeholder.com/300'" alt="Imagen de la propuesta" style="width: 800px;">
              </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="!propuestas|| propuestas.length === 0" class="mt-4">
        <p class="alert alert-info">No se muestran las propuestas en este momento.</p>
      </div>
</div>

