<br><br><br>
<div class="container mt-5">
    <div *ngIf="isAdmin()" class="bg-light p-3 rounded d-flex align-items-center justify-content-between">
      <div>
        <!-- Imagen a la izquierda -->
        <img src="../../../assets/img/obrero.png" alt="Imagen" class="img-fluid" style="max-width: 300px; margin-left: 60px;">
      </div>
      <div class="ml-4"> <!-- Ajusta el margen izquierdo del texto a la derecha -->
        <!-- Texto a la derecha -->
        <h2 class="text-muted">Exclusivo para el Administrador</h2>
        <h1><strong>¿Quieres agregar un proyecto?</strong></h1>
        <p style="margin-right: 100px;">Aquí tienes la oportunidad de presentar tus proyectos para contribuir al crecimiento y bienestar de nuestra comunidad. Desde iniciativas sociales hasta mejoras en infraestructuras locales, ¡tu propuesta puede marcar la diferencia! Comparte tu visión y trabaja junto a nosotros para hacerla realidad.</p>
        <button mat-raised-button color="accent">Agregar proyecto</button>
      </div>
    </div>
    <mat-toolbar color="primary">
      <span>Lista de Proyectos</span>
    </mat-toolbar>
  
    <div *ngIf="proyectos && proyectos.length > 0" class="mt-4">
      <div class="row">
        <div *ngFor="let proyecto of proyectos" class="col-md-4 mb-4" [@fadeInOut]>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ proyecto.titulo }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="proyecto.url || 'https://via.placeholder.com/300'" alt="Imagen de la queja" class="img-fluid" style="width: 390px; height: 250px; border-radius: 5px; margin-left: 14px;" >
            <mat-card-content>
                <br>
              <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
              <p><strong>Estado:</strong> {{ proyecto.estado }}</p>
              <!--
              <mat-card-actions>
                <button mat-button color="accent" (click)="abrirGoogleMaps(proyecto.ubicacion)">
                  Abrir Google Maps
                </button>
              </mat-card-actions>
              -->
              
            </mat-card-content>
            <mat-card-actions>
              <!-- Puedes agregar acciones de tarjeta aquí si es necesario -->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  
    <div *ngIf="!proyectos|| proyectos.length === 0" class="mt-4">
      <p class="alert alert-info">No se muestran los proyectos en este momento.</p>
    </div>
</div>